<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      opened="true"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>

        <mat-list-item routerLinkActive="{ exact: true }">
          <a matListItemTitle routerLink="/">Home page</a>
       </mat-list-item>

        <mat-list-item routerLinkActive="active">
          <a matListItemTitle routerLink="/test-1">Test Page 1</a>
        </mat-list-item>

        <mat-list-item routerLinkActive="active">
          <a matListItemTitle routerLink="/test-2">Test Page 2</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
